form {
  height: 3rem;
}

.search {
  height: 2.2rem;
  width: 18rem;
  color: #EDDEA4;
  font-size: 1.6rem;
  margin-top: 0.2rem;
}

.enter-button {
  height: 2.2rem;
  width: 5rem;
  color: #EDDEA4;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
}